/******************************************************/
/* pc _bnrthumb-list
/******************************************************/
#bnrthumb-list{
  max-width:1280px;
  margin: 0 auto;
  padding: 40px 0;
  .post-date{
    font-size: 11px;
    color: #666;
    margin-bottom: 3px;
  }
  .grid-item{
    // width:calc(25% - 20px);
    width: 300px;
     margin:10px 10px 10px 10px;
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    .thumb_img{
      width: 100%;
      height: 250px;
      vertical-align: bottom;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
      img{
        // width: 100%;
        height: auto!important;
        max-height: 250px!important;
      }
    }
    .post-details-wrap{
      // background: #f9f9f9;
      padding: 10px;
    }
    dl.post-author{
      display: flex;
      justify-content:flex-start;
      align-items: center;
      font-size: 12px;
      dt , dd{
        line-height: 1;
      }
      .ico{
        width: 40px;
        box-sizing: border-box;
        margin-right: 10px;
        img{
            width: 40px;
            border-radius:20px;
            box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
        }
      }
    }

    dl.post-details{
      width: 100%;
      display: table;
      font-size: 10px;
      line-height: 1.6;
      box-sizing: border-box;
      padding:0px 5px;
      dt , dd{
        display: table-cell;
        text-align: left;
      }
      dt{
        font-weight: bold;
        width: 25%;
      }
      dd{
        width: 75%;
        position: relative;
        padding-left: 1em;
        &:before{
          display: block;
          width: 1em;
          content: ":";
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    .body{
      height: 60px;
      padding: 10px;
      border-top: 1px #f0efea solid;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .thumbnail{
        margin-right: 10px;
        img{
          border-radius: 20px;
          vertical-align: bottom;
        }
      }
      .info{
        .author{
          font-size: 14px;
          font-weight: bold;
          line-height: 14px;
        }
        .reactions{
          color: #939190;
          font-size: 12px;
          margin: 4px 0 0;
          i{
             margin: 0 2px 0 0;
          }
        }
      }
    }
  }
}

// @media (max-width:1360px){
//   #bnrthumb-list{
//     max-width: 13px;
//     .grid-item{
//       // width:calc(33.33% - 20px);
//       width: 300px;
//     }
//   }
// }



@media (max-width:1280px){
  #bnrthumb-list{
    max-width: 960px;
    margin: 0 auto;
    .grid-item{
      // width:calc(33.33% - 20px);
      width: 300px;
    }
  }
}

@media (max-width:1024px){
  #bnrthumb-list{
    max-width: 640px;
    .grid-item{
      // width:calc(33.33% - 20px);
      width: 300px;
    }
  }
}
@media (max-width:768px){
  #bnrthumb-list{
    max-width: 300px;
    padding-top: 50px;
    .grid-item{
      margin: 10px 0;
      // width:calc(33.33% - 20px);
      width: 300px;
    }
  }
}
