/******************************************************/
/* pc_header
/******************************************************/

#header{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 30px;
  background: #fff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  transition: all .3s ease;

  //--------------------------
  // h1 logo
  //--------------------------
  h1{
    cursor: pointer;
    padding-left: 50px;
    a{
      display: block;
      text-align: left;
      img{
        width: 150px;
        vertical-align: middle;
        height: 20px;
      }
    }
  }

  //--------------------------
  //nav-menu
  //--------------------------
  #ico-menu{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #555;
    z-index: 20;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .3s ease-in-out;
    cursor: pointer;
  }

  #ico-menu .inner{
    display: block;
    width: 20px;
    height: 14px;
    position: relative;
  }

  #ico-menu span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }


  #ico-menu:hover{
    background: #666;
  }

  #ico-menu span:nth-child(1) {
    top: 0px;
  }


  #ico-menu span:nth-child(2) {
    top: 10px;
  }
}

#header.fixed{
  position: fixed;
  z-index: 20;
  top: -60px;
}

#header.fixed.fixed_fix{
  position: fixed;
  z-index: 20;
  top: 0px;
}

.result-num{
  // float: right;
  text-align: right;
}

//--------------------------
//#ico-menu close transition
//--------------------------

#contents-slide-wrap.active #header #ico-menu span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#contents-slide-wrap.active #header #ico-menu span:nth-child(2) {
  top: 5px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}




/******************************************************/
/* sp_header
/******************************************************/
@media only screen and (max-width:767px){

}
