/******************************************************/
/* pc_header
/******************************************************/

#header{
  width: 100%;
  height: 60px;
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  transition: all .2s linear;
  z-index: 60;
  //--------------------------
  // archive-toggle-menu-wrap
  //--------------------------
  .archive-toggle-menu-wrap{
    display: none;
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    margin-top: 60px;
    padding:20px 40px;
    background: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
    .title{
      font-weight: bold;
      margin-bottom: 10px;
    }
    .author-profile{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      li{
        width: 60px;
        margin: 0 10px;
        position: relative;
        a{
          display: block;
          img{
            width: 60px;
            height: 60px;
            border-radius: 30px;
          }
        }
        a:hover + .balloon{
          opacity: 1;
        }
        .balloon{
          position: absolute;
          bottom:-25px;
          left: 50%;
          transform: translate(-50%);
          background: #333;
          color: #fff;
          padding:0px 5px;
          font-size: 12px;
          text-align: center;
          border-radius: 4px;
          transition: all 0.2s ease;
          opacity: 0;
          z-index: 10;
          &:after{
            content: "";
            position: absolute;
            display: block;
            top: -12px;
            left: 50%;
            transform: translate(-50%);
            width: 0px;
            height: 0px;
            border-top:6px solid transparent;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-bottom:7px solid #333;
          }
        }
      }
    }
  }
  .inner-l{
    padding: 30px;
    height: 60px;
    float: left;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    //--------------------------
    // h1 logo
    //--------------------------
    h1{
      cursor: pointer;
      padding-left: 50px;
      a{
        display: block;
        text-align: left;
        img{
          width: 150px;
          vertical-align: middle;
          height: 20px;
        }
      }
    }
    //--------------------------
    // archive-toggle-menu
    //--------------------------
    .archive-toggle-menu{
      padding-left: 20px;
      font-weight: bold;
      position: relative;
      padding-right: 15px;
      cursor: pointer;
      &:after{
        content: "";
        position: absolute;
        right: 0px;
        top: 12px;
        width: 0px;
        height: 0px;
        border-top: 4px solid #333;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
      }
    }
    .archive-toggle-menu.active{
      &:after{
        top: 8px;
        border-top: 4px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #333;
      }
    }

    //--------------------------
    //ico-menu
    //--------------------------
    #ico-menu{
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      background: #222;
      z-index: 20;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: .3s ease-in-out;
      cursor: pointer;
    }

    #ico-menu .inner{
      display: block;
      width: 20px;
      height: 14px;
      position: relative;
    }

    #ico-menu span{
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #fff;
      opacity: 1;
      left: 0;
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    #ico-menu:hover{
      background: #333;
    }

    #ico-menu span:nth-child(1) {
      top: 5px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    #ico-menu span:nth-child(2) {
      top: 5px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
  .inner-r{
    padding: 30px;
    height: 60px;
    float: right;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    //--------------------------
    // search form
    //--------------------------
    .search-input{
        width: 300px;
        height: 30px;
        position: relative;
        input[type="text"]{
          width: 300px;
          height: 30px;
          padding:5px 30px 5px 10px;
          border: 1px solid #ccc;
          border-radius: 2px;
        }
        /* Change the white to any color ;) */
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
            -webkit-transition-delay: 9999s;
        }
        &:after{
          content: "\f002";
          font-family: FontAwesome;
          position: absolute;
          color: #000;
          right: 9px;
          top: 0px;
          font-size: 13px;
          line-height:31px;
        }
    }
    //--------------------------
    // login
    //--------------------------
    .login{
      line-height: 30px;
      padding-left: 20px;
      a{
        cursor: pointer;
        position: relative;
        img{
          vertical-align: bottom;
          border-radius: 15px;
        }
      }

      .balloon{
        position: absolute;
        display: block;
        background-color: #2f3131;
        border-radius: 2px;
        bottom: -34px;
        color: #fff;
        font-size: 12px;
        height: 20px;
        left: 50%;
        line-height: 20px;
        padding: 0 6px;
        transform: translate(-50%);
        z-index: 1;
        opacity: 0;
        transition: opacity 0.2s ease;
        &:after{
          content: "";
          border-color: transparent transparent #2f3131 transparent;
          border-style: solid;
          border-width: 0 4px 6px 4px;
          display: inline-block;
          height: 0;
          left: 50%;
          margin-left: -4px;
          position: absolute;
          top: -6px;
          width: 0
        }
      }
      a:hover .balloon{
        opacity: 1;
      }
    }

  }
}

#header.fixed{
  position: fixed;
  z-index: 20;
  top: -60px;
}

#header.fixed.fixed_fix{
  width:calc(100% - 240px);
  position: fixed;
  z-index: 20;
  top: 0px;
}

//--------------------------
//#ico-menu close transition
//--------------------------

#contents-slide-wrap.active #header #ico-menu span:nth-child(1) {
  top: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#contents-slide-wrap.active #header #ico-menu span:nth-child(2) {
  top: 10px;
  -webkit-transform: rotate(-0deg);
  -moz-transform: rotate(-0deg);
  -o-transform: rotate(-0deg);
  transform: rotate(-0deg);
}


/******************************************************/
/* sp_header
/******************************************************/
@media only screen and (max-width:920px){
  .search-input{
    display: none;
  }
}

@media only screen and (max-width:768px){
  #header{
    position: fixed;
    z-index: 10;
    width:100%!important;
    top: 0px;
    .archive-toggle-menu-wrap{
      padding: 20px;
    }

    .inner-r{
      padding: 0px 0px 0px 0px;
      //--------------------------
      // search form
      //--------------------------

      .login{
        padding-left: 0px;
        padding-right: 10px;
      }
    }
    .inner-l{
      padding-right: 0px;
      // h1{
      //   padding-left:40px;
      // }
      .archive-toggle-menu{
        padding: 0px 15px 0px 10px;
      }
    }

  }
  #header.fixed.fixed_fix{
    width:100%;
  }

}
