/******************************************************/
/* pc category-nav
/******************************************************/
#category-nav{
  width: 240px;
  height: 100%;
  position: fixed;
  left:-240px;
  top:0;
  background: #333;
  box-sizing: border-box;
  color: #fff;
  transition: all .5s ease;
  z-index: 20;
  a{
      color: #fff;
      text-decoration: none;
  }

  a:visited{
      color: #fff;
      text-decoration: none;
  }

  a:hover{
      color: #ccc;
      text-decoration: none;
  }

  a:active{
      color: #fff;
      text-decoration: none;
  }
  .scroller{
    padding:60px 20px;
  }
  .category-list{
    margin-bottom: 30px;
  }
  .category_ttl{
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 20px;
  }


  dl.search_taxonomie{
    margin-bottom: 30px;
    input, button, textarea, select {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
      dt{
        font-size: 18px;
        margin-bottom: 15px;
        line-height: 1em;
      }
      dd{
        margin-bottom: 10px;
        input[type=checkbox]{
          display: none;
        }
        label.checkbox{
          width: 200px;
          box-sizing: border-box;
          position: relative;
          display: inline-block;
          margin: 0 0px 0px 0;
          padding: 5px 0px 5px 40px;
          border-radius: 2em;
          border: solid 1px #666;
          background-color:#333;
          vertical-align: middle;
          cursor: pointer;
          transition: background 0.2s ease;
          &:hover{
            background: #222;
          }
          &:before{
            content: "";
            display: block;
            position: absolute;
            top:50%;
            margin-top: -9px;
            left:15px;
            width:15px;
            height:15px;
            border-radius: 4px;
            background: #333;
            border:1px solid #666;
          }
          &:after{
            content: "";
            display: block;
            position: absolute;
            top:50%;
            margin-top: -9px;
            left:15px;
            width:15px;
            height:15px;
            border-radius: 4px;
            background: #fff;
            border:1px solid #fff;
            opacity: 0;
            transition: opacity 0.2s ease;
          }
        }
        input[type=checkbox]:checked + label.checkbox:after{
          opacity: 1;
        }
      }

  }
  ul#menu-commodity{
      & > li{
        display: block;
        font-size: 13px;
        position: relative;
        border-bottom: 1px solid #666;
        &:first-child{
          border-top: 1px solid #666;
        }
        &:hover{
          background: #444;
        }
        & > a{
          display: block;
          border-bottom: #555;
          padding:10px 20px;
          position: relative;
          line-height: 1.8em;
          &:after{
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 12px;
            width: 8px;
            height: 8px;
            margin-top: -4px;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        a span.menu_count{
          font-size: 13px!important;
          margin-left: 0px;
          text-indent: 0px!important;
        }
        .sub-menu{
          position: absolute;
          left:210px;
          top: 0px;
          width: 160px;
          height: auto;
          padding: 10px 15px;
          background: #fff;
          box-shadow:0px 0px 2px 0px rgba(0,0,0,0.3);
          display: none;
          // padding-left: 0.5em;
          li{
            line-height: 3em;
            font-size: 11px;
            a{
              color: #333;
            }
          }
        }
      }
  }

  ul#menu-color{
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    // flex-wrap: wrap;
    padding-left: 20px;
    li{
        margin-bottom: 8px;
        padding-left: 32px;
        position: relative;
        font-size: 13px;
        a span.menu_count{
          // display: block;
          font-size: 13px!important;
          margin-left: 0px;
          text-indent: 0px!important;
        }
    }
    li > a:after{
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      background: #fff;
      // text-indent: -9999px;
      border-radius: 11px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    li.c1 a:after{ background: #fff;}
    li.c2 a:after{ background: #000;}
    li.c3 a:after{ background: #9e9e9e;}
    li.c4 a:after{ background: #733422;}
    li.c5 a:after{ background: #e5d6ae;}
    li.c6 a:after{ background: #32984d;}
    li.c7 a:after{ background: #116ae1;}
    li.c8 a:after{ background: #8600c6;}
    li.c9 a:after{ background: #edd400;}
    li.c10 a:after{ background: #ff71bd;}
    li.c11 a:after{ background: #d70a2e;}
    li.c12 a:after{ background: #fd9239;}
    li.c13 a:after{
      background: #f9f9f9; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #f9f9f9 0%, #a8a8a8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  #f9f9f9 0%,#a8a8a8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  #f9f9f9 0%,#a8a8a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#a8a8a8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    li.c14 a:after{
      background: #e5d5ae; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #e5d5ae 0%, #c79810 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  #e5d5ae 0%,#c79810 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  #e5d5ae 0%,#c79810 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5d5ae', endColorstr='#c79810',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }
    li.c15 a:after{
      background: #ff0004; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #ff0004 15%, #2e00ff 38%, #0cff00 61%, #ffe316 85%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  #ff0004 15%,#2e00ff 38%,#0cff00 61%,#ffe316 85%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  #ff0004 15%,#2e00ff 38%,#0cff00 61%,#ffe316 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0004', endColorstr='#ffe316',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
}
#overray{
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  top: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10;
  display: none;
}

#contents-slide-wrap.active #category-nav{
  left:0px;
}


/******************************************************/
/* pagetop
/******************************************************/

.pagetop{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -40px;
  right: 20px;
  z-index: 20;
  border-radius: 20px;
  background: #444;
  cursor: pointer;
  transition: all 0.3s ease;
  &:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-top: 5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
  }
  &:hover{
    background: #666;
  }
}

.pagetop.active{
  bottom: 20px;
}
