/******************************************************/
/* pagetop
/******************************************************/

.pagetop{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -40px;
  right: 20px;
  z-index: 20;
  border-radius: 20px;
  background: #444;
  cursor: pointer;
  transition: all 0.3s ease;
  &:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-top: 5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
  }
  &:hover{
    background: #666;
  }
}

.pagetop.active{
  bottom: 20px;
}

/******************************************************/
/* Btn
/******************************************************/
.baseBtn{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background: #fff;
  border: 1px solid $theme-border-color;
  border-radius:2em;
  padding:0.5em 30px;
  font-size: 16px;
  margin: 20px auto;
  transition: all 0.2s ease;
  &:hover{
    background: $theme-color;
    color: #fff;
  }
}
