* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 62.5%;

}
body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',  meiryo, sans-serif;
    color: #333;
    // background: #f9f9f9;
    line-height: 1.8;
}
body,html{
	min-height: 100vh;
	// overflow: hidden;
}

a{
    color: #333;
    text-decoration: none;
}

a:visited{
    color: #333;
    text-decoration: none;
}

a:hover{
    color: #666;
    text-decoration: none;
}

a:active{
    color: #333;
    text-decoration: none;
}


/******************************************************/
/* #contents-slide-wrap
/******************************************************/
#contents-slide-wrap{
  margin-left: 0;
  transition: all .5s ease;
}

#contents-slide-wrap.active{
  margin-left: 240px;
}

@media only screen and (max-width:767px) {
  #contents-slide-wrap.active{
    margin-left: 0px;
  }
}


/******************************************************/
/* #responsive-reaction
/******************************************************/
.responsive-reaction{
    width: 0;
    height: 0;
    visibility: visible;
    display: block;
}

@media only screen and (max-width:767px) {
    .responsive-reaction{
        width: 0;
        height: 0;
        visibility: hidden;
        display: none;
    }
}
